header {
    background:#B8860B;
    padding: 20px 0;
}
    
.logo {
    width: 150px;
}

.caixa{
    position: relative;
    width: 940px;
    margin: 0 auto;
}

nav {
    position: absolute;
    top: 110px;
    right: 0;
}
    
nav li {
    display: inline;
    margin: 0 0 0 15px;
}

nav a {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 22px;
    color: black;
    padding: 10px;
}

nav a:hover{
    color:white;
    text-decoration: wavy;
}

.livro-titulo{
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
    font-weight:bold;
    padding: 50px;
    margin: 0 0 1em;
    clear: left;
}

.imagem-leitura-infantil{
    width: 250px;
    float: left;
    padding: 10px;
}

.livro-descricao{
    font-size: 20px;
    text-align: center;
    margin: 10px 40px 10px 40px
    
}

ol {
    list-style-type:lower-roman;
    margin: 50px;
}

.imagem-dicas-esquerda{
    width: 350px;
    display: block;
    float: left;
    
}

.imagem-dicas-direita{
    width: 350px;
    display: block;
    float: right;
    margin: 50px;
}

.titulo-dica-direita{
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    clear: left;
    padding: 35px;
    
}

.titulo-dica-esquerda {
    clear:right;
    font-size: 20px;
    font-weight: bold;
    text-align: center;

}




    


